@import 'vars.scss';

html {
  font-size: 14px;
}

body {
  margin: 0;
  font-family: $mainFont;
}

input {
  font-family: $mainFont;
}

button {
  background-color: $gray3;
  font-size: 1rem;
  color: #fff;
  padding-left: 8px;
  padding-right: 8px;
  height: 34px;
  border: 0;
  border-radius: 3px;
}

button:hover {
  background-color: $gray4;
  cursor: pointer;
  transition: 0.2s;
}

button.main {
  background-color: $mainAccent;
  color: $secondAccent;
}

button.main:hover {
  background-color: $secondAccent;
  color: white;
}

button.secondary {
  background-color: $secondAccent;
}

button.secondary:hover {
  background-color: $mainAccent;
  color: $secondAccent;
}

a {
  color: $mainAccent;
}

a:hover {
  color: $secondAccent;
}

.red {
  color: red;
  font-weight: 700;
  width: 100%;
}

.flex {
  display: flex;
}

.space-between {
  justify-items: space-between;
}

.valign-center {
  align-items: center;
}

/** Pages with Sidebar **/
.container-with-sb {
  display: flex;
}

.sb-content-container {
  margin: 1rem 2rem 4rem;
  width: 100%;
  line-height: 140%;
  margin-left: calc(240px + 2rem);
}

.sb-content-container2 {
  margin: 1rem 2rem 1rem;
  width: 100%;
  line-height: 140%;
  margin-left: calc(240px + 2rem);
}

/** Index Page **/
.content-container {
  margin: 1rem auto 0rem;
  line-height: 140%;
  // max-width: 960px;

  p {
    font-size: 1.25rem;
  }
}

.col-container {
  display: flex;
  max-width: 960px;
  margin: 1rem auto;
}

.col-1 {
  width: 100%;
}

.col-2 {
  width: 50%;

  p {
    font-size: 1.5rem;
    line-height: 150%;
  }
}

.img-col {
  text-align: center;

  img {
    width: 100%;
    max-width: 500px;
  }
}

.col-3 {
  width: 30%;
}

div.prev-container {
  margin: 0 auto;
  text-align: center;

  img {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    border: 1px solid $gray2;
    border-radius: 1rem;
  }
}

div.img-container {
  margin: 0 auto;
  text-align: center;

  img {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
  }
}

.attribute {
  text-align: right;
  font-size: 0.875rem;
  font-style: italic;

  a {
    color: $gray3;
    text-decoration: none;
  }
}

h1.index-head {
  text-align: center;
  font-size: 2rem;
  margin-top: 1rem;
}

.footer {
  margin-top: 3rem;
  border-top: 1px solid $gray1;
  padding: 1rem;
  background-color: #000;
  color: #fff;
}

.shrink {
  p {
    font-size: 1.25rem;
  }
}

.col-4 {
  width: 25%;
  color: $gray4;

  button.faux {
    color: #fff;
    background-color: transparent;
    margin: 0;
    margin-top: -10px;
    padding: 0;
    text-decoration: underline;
  }

  button.faux:hover {
    color: $gray3;
  }
}

/** Basics **/
.block {
  display: block;
}

.flex {
  display: flex;
}

.vCenter {
  align-items: center;
}

.spaceEvenly {
  justify-content: center;
}

.spaceBtwn {
  justify-content: space-between;
}

.margin1rem {
  margin: 1rem;
}

.marginLeft0rem {
  margin-left: 0rem;
}

.marginLeft1rem {
  margin-left: 1rem;
}

.marginRight1rem {
  margin-right: 1rem;
}

.liContainer {
  border-bottom: 1px solid $gray1;
}

.textCenter {
  text-align: center;
}

.textRight {
  text-align: right;
}

pre {
  white-space: pre-wrap; /* Since CSS 2.1 */
  white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
  white-space: -pre-wrap; /* Opera 4-6 */
  white-space: -o-pre-wrap; /* Opera 7 */
  word-wrap: break-word; /* Internet Explorer 5.5+ */
}
