@import 'vars.scss';

html {
  font-size: 14px;
}

body {
  margin: 0;
  font-family: $mainFont;
}

pre,
code {
  font-family: $codeFont;
  color: $gray1;
  background-color: #2b2b2b;
  padding: 1px 3px;
  font-size: 0.875rem;
  border-radius: 5px;
}

pre {
  padding: 2rem;
  border-radius: 8px;
}

/** Pages without a Header and/or Sidebar (eg. Login, Register) **/
.landing-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  .auth-landing {
    h1 {
      margin-top: 0;
      text-align: center;
    }

    .login-error {
      text-align: center;
      margin-bottom: 1rem;
    }

    .label-container {
      font-size: 0.875rem;
      margin-bottom: 3px;
      width: 100%;
      max-width: 275px;

      ul {
        margin: 0 0 0.25rem;
        padding: 0 0 0 1rem;
      }
    }

    .input-container {
      width: 250px;
      margin-bottom: 0.75rem;

      input {
        width: 100%;
        height: 30px;
        padding-left: 8px;
        padding-right: 8px;
        border: 1px solid #333;
        border-radius: 3px;
        font-size: 1rem;
      }
    }

    .button-container {
      width: 270px;

      button {
        width: 100%;
      }
    }
  }
}

/** General Styling **/
.container-with-sb {
  display: flex;
}

.content-container {
  margin: 1rem 3rem;
  line-height: 140%;
}

.flex {
  display: flex;
}

.space-between {
  justify-items: space-between;
}

.valign-center {
  align-items: center;
}

.red {
  color: red;
  font-weight: 700;
  width: 100%;
}

input {
  font-family: $mainFont;
}

button {
  background-color: $gray3;
  font-size: 1rem;
  color: #fff;
  padding-left: 8px;
  padding-right: 8px;
  height: 34px;
  border: 0;
  border-radius: 3px;
}

button:hover {
  background-color: $gray4;
  cursor: pointer;
  transition: 0.2s;
}

.col-container {
  display: flex;
}

.col-3 {
  width: 30%;
}

a {
  color: $mainAccent;
}

a:hover {
  color: $secondAccent;
}
