@import url('https://fonts.googleapis.com/css2?family=Fira+Code&family=Rubik:ital,wght@0,400;0,700;1,400;1,700&display=swap');

$mainFont: 'Rubik', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell',
  'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
$codeFont: 'Fira Code', source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;

$gray1: #eee;
$gray2: #ddd;
$gray3: #aaa;
$gray4: #777;
$gray5: #444;

$mainAccent: #d07739;
$secondAccent: #008080;
